**Problem 1**

Write a python function that takes a number as parameter and prints the multiplication table of that number

In [ ]:
def multiplicationTable(num):
  multiplier = num
  for i in range(1,13):
    table = i * multiplier
    print(f"{i} x {multiplier} = ",table)


integer = int(input("Enter multiplication number table: "))
multiplicationTable(integer)

Enter multiplication number table: 5
1 x 5 =  5
2 x 5 =  10
3 x 5 =  15
4 x 5 =  20
5 x 5 =  25
6 x 5 =  30
7 x 5 =  35
8 x 5 =  40
9 x 5 =  45
10 x 5 =  50
11 x 5 =  55
12 x 5 =  60

**Problem 2**

Write a simple python function that returns twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes.

Pairs of primes that differ by 2. For example, 3 and 5, 5 and 7, 11 and 13, and 17 and 19 are twin primes.

In [ ]:
def is_Prime(max_num):
    prime=[]
    for num in range(2,max_num + 1):
        isPrime = True
        divisor = range(2, int(num**0.5) + 1)  #testlist for divisor
        for divisors in divisor: #this repeat for the number in range (2,1000) to be divide by the numbers in range (2,1000)
            if (num % divisors==0):
                isPrime = False
                break

        if isPrime:
            prime.append(num)

    return prime

def twin_primes(prime_list):
    twin_primes = []

    for item in range(len(prime_list) - 1):
        if prime_list[item + 1] == (prime_list[item] + 2):
            twin_primes.append((prime_list[item], prime_list[item + 1]))

    return twin_primes

max_num = 1000
prime_max = is_Prime(max_num)
print("All prime num up until 1000:", prime_max)

twin_prime = twin_primes(prime_max)
print("The twin primes up to 1000:",(twin_prime))

All prime num up until 1000: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
The twin primes up to 1000: [(3, 5), (5, 7), (11, 13), (17, 19), (29, 31), (41, 43), (59, 61), (71, 73), (101, 103), (107, 109), (137, 139), (149, 151), (179, 181), (191, 193), (197, 199), (227, 229), (239, 241), (269, 271), (281, 283), (311, 313), (347, 349), (419, 421), (431, 433), (461, 463), (521, 523), (569, 571), (599, 601), (617, 619), (641, 643), (659, 661), (809, 811), (821, 823), (827, 829), (857, 859), (881, 883)]

**Problem 3**

Write a simple python function that takes a number as parameter and returns  the prime factors of that number. Prime Factorization is finding which prime numbers multiply together to make the original number.

Example: prime factors of 56 - 2, 2, 2, 7

In [ ]:
def find_prime_factors(givennumber):
  prime=[]
  #to find the prime numbers in the range of the givennumber
  for num in range(2,givennumber + 1):
      isPrime = True
      divisor = range(2, int(num**0.5) + 1)  #testlist for divisor
      for divisors in divisor: #this repeat for the number in range (2,50) to be divide by the numbers in range (2,50)
          if (num % divisors==0):
              isPrime = False
              break

      if isPrime:
          prime.append(num)

    #find the prime factors using the prime number list
  factor = []
  for prime_num in prime:
    while givennumber % prime_num == 0:
      factor.append(prime_num)
      givennumber //= prime_num

  return factor

original_number = int(input("Enter a number to find its prime factor: "))
prime_factors = find_prime_factors(original_number)
print(f"The prime factors of {original_number} are ",prime_factors)

Enter a number to find its prime factor: 63
The prime factors of 63 are  [3, 3, 7]

**Problem 4**

Write a function that inputs a number and returns the product of digits of that number.

In [ ]:
def product_digits(num):
  product = 1

  for i in num:
    product *= int(i)
  return product

num = input("Enter several digits of a number: ")
print(f"The product of each digits in the input number: ", product_digits(num))

Enter several digits of a number: 369
The product of each digits in the input number:  162

**Problem 5**

Write a function that takes a number as parameter. The function finds the proper divisors of that number and then finds the sum of proper divisors. Proper divisors of a number are those numbers by which the number is divisible, except the number itself.

For example proper divisors of 36 are 1, 2, 3, 4, 6, 9, 18

In [ ]:
def proper_divisor(num):
  divisor = []
  for i in range (1, num//2 + 1):
    if num % i == 0:
     divisor.append(i)

  return divisor

num = int(input("Enter a number: "))
print(f"The proper divisor of {num}:", proper_divisor(num))

Enter a number: 32
The proper divisor of 32: [1, 2, 4, 8, 16]

**Problem 6**

A number is called perfect if the sum of proper divisors of that number is equal to the number. For example 28 is perfect number, since 1+2+4+7+14=28. Write a program to print all the perfect numbers in a given range

In [ ]:
def prime_number(num):
  if num==2:
    return True

  for i in range(3, int(num**0.5)+1):
    if num% i == 0:
      return False

  return True

def perfect_number(num_range):
  perfect = []
  for n in num:
    #check if it is prime number
    if prime_number(n):
      mersenne_prime = (2**n) - 1
      if prime_number(mersenne_prime):
        perfect_num = (2**(n-1)) * mersenne_prime
        if perfect_num not in perfect:
          perfect.append(perfect_num)


  return perfect


num_range = range(2,20) #testlist for primenum
print(perfect_number(num_range))

[6, 28, 496, 8128, 33550336, 8589869056, 137438691328]

**Problem 7**

Write a python function that takes 2 parameters lower and upper (range). Let the function returns pairs of amicable numbers in that range.

Two different numbers are called amicable numbers if the sum of the proper divisors of each is equal to the other number. For example 220 and 284 are amicable numbers.

For example if we call that function: amicableNumbers(1, 1000)

The function must return: **[220, 284]**


*Why they are amicable numbers ?*

Sum of proper divisors of **220** = 1+2+4+5+10+11+20+22+44+55+110 = **284**

Sum of proper divisors of **284** = 1+2+4+71+142 = **220**

In [ ]:
def sum_of_divisor(num):
  return  sum(i for i in range (1, num) if num % i ==0)
def is_amicable(lower, upper):
  amicable=[]
  for a in range(lower, upper+1):
    b = sum_of_divisor(a)
    if b != a and b >= lower and b<= upper and sum_of_divisor(b) == a:
      if a < b and  (a,b) not in amicable:
        amicable.append((a,b))
  return amicable

print(is_amicable(1,1000))

[(220, 284)]

**Problem 8**

Write a python function that takes variable length parameters and returns maximum and minimum number in the parameter numbers.

For example if we call the function: maximumMinimum(10, 20, 30, 40, 50)

The function must return: **[10, 50]**

In [ ]:
def finding_max_and_min(*numbers):
  if not numbers:
    return None, None

  max_num = numbers[0]
  min_num = numbers[0]

  for num in numbers:
    if num > max_num:
      max_num = num

    if num < min_num:
      min_num = num

  return [min_num, max_num]


maxmin = finding_max_and_min(10,20,30,40,50)
print(f"Min and Max numbers in the list:",maxmin)

Min and Max numbers in the list: [10, 50]

**Problem 9**

Write a simple Python function that takes a number(n) as a parameter. Then the function prints out the first n rows of Pascal's triangle. Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.



![pascaltriangle.png]()

In [ ]:
def pascaltriangle(rows):
  for i in range(0,rows):
    print("  "* (rows - i), end = " ")

    coef = 1
    for j in range(0, i + 1):
      print(coef, end = "  ")
      coef = coef * (i-j)
      coef = coef //(j+1)
    print()
n = int(input("Rows: "))
pascaltriangle(n)

Rows: 8
                 1
               1  1
             1  2  1
           1  3  3  1
         1  4  6  4  1
       1  5  10  10  5  1
     1  6  15  20  15  6  1
   1  7  21  35  35  21  7  1

**Problem 10**

Write a simple python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

Sample Items : green-red-yellow-black-white

Expected Result : black-green-red-white-yellow

In [ ]:
def sort_words(sequence):
  words = sequence.split("-")

  for i in range(len(words)):
    for j in range(0, len(words)-i - 1):
      if words[j]> words[j+1]:
        words[j], words[j+1] = words[j+1], words[j]

  sorted_words ="-" .join(words)

  return sorted_words


sentence = input("Words: ")
print(sort_words(sentence))

Words: green-red-yellow-black-white
black-green-red-white-yellow